{{!< main}}

{{#contentFor foot}}

<style>
#map {
  width:100%; height: 400px;
}
</style>

<script>

const GOOGLE_MAP_STYLE = [
    {
        "featureType": "all",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "saturation": 36
            },
            {
                "color": "#888888"
            },
            {
                "lightness": 40
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#000000"
            },
            {
                "lightness": 16
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 17
            },
            {
                "weight": 1.2
            }
        ]
    },
    {
        "featureType": "administrative.country",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#656565"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#040404"
            },
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 21
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#b42828"
            },
            {
                "lightness": 17
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 29
            },
            {
                "weight": 0.2
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#370000"
            },
            {
                "lightness": 18
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 16
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 19
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#939393"
            },
            {
                "lightness": 17
            }
        ]
    }
]

function initMap() {
  // place map
  var usa_center = new google.maps.LatLng(39.8097343, -98.5556199)
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 4,
    mapTypeId: 'terrain',
    styles: GOOGLE_MAP_STYLE,
    center: usa_center
  });
  // place markers
  // based on this and other examples: https://developers.google.com/maps/documentation/javascript/examples/infowindow-simple-max
  // we may need to do it with a timeout as well
  // https://developers.google.com/maps/documentation/javascript/examples/marker-animations-iteration
  var curInfoWindow
  function addMarker(map, title, description, lat, lng, formatted_address){
    var marker, infoWindow, contentString
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(lat, lng),
      map: map
    })
    contentString = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h4 class="firstHeadingx">'+title+'</h4>'+
        '<div id="bodyContent">'+
        '<p><em>'+formatted_address+'</em></p>'+
        '<p>'+description+'</p>'+
        '</div>'+
        '</div>';
    infoWindow = new google.maps.InfoWindow({
      content: contentString,
      maxWidth: 500
    })
    marker.addListener('click', function() {
      // close all windows?
      if (curInfoWindow){
        curInfoWindow.close()
      }
      infoWindow.open(map, marker)
      curInfoWindow = infoWindow
    });
    return marker
  }
  var marker, infoWindow, contentString, allMarkers = []
  {{#each map.locations}}
  addMarker(map, '{{title}}', '{{description}}', {{lat}}, {{lng}}, '{{address}}')
  {{/each}}
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{map.key}}&callback=initMap">
</script>

{{/contentFor}}

<div class="container">
  <div class="row map-row">
    <div class="col-md-12">
      <h4>Map for {{map.type}}</h4>
      <div id="map"></div>
    </div>
  </div>
</div>
