{{!< main}}

{{#contentFor foot}}
<style type="text/css">
.header { navbar: #ff0; }
</style>
{{/contentFor}}


<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Searched for {{term}}</h1>

    <form class="searchForm" action="/search" method="get">
      <div class="form-group">
        <label for="mainSearchTerm">Search Term</label>
        <input type="text" class="form-control" name="searchTerm" id="mainSearchTerm" aria-describedby="mainSearchTermHelp" placeholder="pugs" value="{{term}}">
        <small id="mainSearchTermHelp" class="form-text text-muted">Whatever you're in the mood for.</small>
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
</div>

<div class="container">
  <div class="row result-row">
    <div class="col-md-4">
      <h4>{{images.length}} results</h4>

      <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item {{#if prevPageUrl}}disabled{{/if}}">
            <a class="page-link" href="{{prevPageUrl}}" tabindex="-1">Previous</a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="#">{{page}} <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item">
            <a class="page-link" href="{{nextPageUrl}}">Next</a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  {{#each images}}
  <div class="row result-row">
    <div class="col-md-4">
      <img src="{{url}}" style="max-width: 100%" />
    </div>
    <div class="col-md-8">
      <h4>{{description}}</h4>
      <p class="result-json-data" data-json='{{jsondata}}'></p>
      <p>data {{jsondata}}</p>
    </div>
  </div>
  {{/each}}
</div>
